<div class="container mt-3">

        <form action="/user/verifyaddrestaurentotp" method="POST">
            <div class="form-group">
         
              <input type="text" class="form-control" id="formGroupExampleInput" name="otp" placeholder="Enetr OTP">
            </div>
        <div class="text-center">
            <button class="btn btn-success mt-4">Submit</button>
        </div>
          </form>
      

</div>