
<div class="container mt-3">
<form action="/user/verify" method="POST" >
    <div class="form-group">

      <input type="text" class="form-control" id="formGroupExampleInput" name="otp" placeholder="Enter Otp">

    </div>
<br>

    <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    </div>