<div>
    <p><b>Order Details</b></p>
        <br>
        <p>ItemName:- <b><%= detail.itemName %></b>
        <p>Qty:- <b><%= detail.Qty %></b></p>
        <p>Price:- <b><%= detail.price %></b></p>
    
        </div>