<div>

    <p>Hii <bold><%= user.name %></bold></p>
    <br>
    <p>Your One time Otp is <strong><%= otp  %></strong></p>
    <br>
    <p>Click on link below to verify.Otp Valid for 60seconds.</p>
    <br>

    <a href="http://localhost:5005/user/verify">http://localhost:5005/user/verify</a>
    <br>
    <br>
    <p>Thanks</p>
    </div>