<div>

    <p>Hii <bold><%= user.name %></bold></p>
    <br>
    <p><b>Congratulations ! Your account is succesfully created.</b></p>
    <br>
    <p>Now You can login.order best meal for you at your home.</p>
     <br>
    <p>Thanks.</p>
    </div>